@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.font-face-aloevera {
  font-family: 'Aloevera';
  src: local('Aloevera'), url('./fonts/Aloevera-OVoWO.ttf') format('truetype');
}
